<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="description_file_object" default="$(find mppi_omav_interaction)/data/objects/shelf.urdf.xacro"/>
    <param name="object_description" command="$(find xacro)/xacro $(arg description_file_object)"/>

    <!--
    <node name="object_state_publisher_" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="robot_description" to="object_description"/>
        <remap from="joint_states" to="/observer/object/joint_state"/>
    </node>
    -->

    <!--    State observer node-->
    <node pkg="mppi_omav_interaction" name="state_observer_node" type="state_observer_node" output="screen" >
        <param name="object_pose_topic" value="/shelf_door/vrpn_client/estimated_odometry"/>
        <param name="observer_update_frequency" value="250"/>
    </node>
</launch>