<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- GAZEBO ARGUMENTS -->
    <!-- Run Gazebo headless -->
    <arg name="headless" default="false"/>
    <!-- Model path -->
    <arg name="model_path" default="$(find gazebo_ros)/.."/>
    <!-- Name of the world -->
    <arg name="world" default="empty"/>
    <!-- Path to the world file -->
    <arg name="world_file" default="$(find gazebo_ros)/worlds/$(arg world).world"/>
    <!-- Set the name of the Gazebo config file -->
    <!-- Set the initial pose of the robot's main body -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>
    <!-- Start paused -->
    <arg name="paused" default="false"/>
    <!-- Use simulation clock -->
    <arg name="use_sim_time" default="true"/>
    <!-- Debug mode -->
    <arg name="debug" default="true"/>
    <!-- Verbose mode -->
    <arg name="verbose" default="true"/>
    <!-- Load and draw meshes -->
    <arg name="mesh" default="true"/>

    <!-- GUI ARGUMENTS -->
    <!-- Enable/disable Gazebo GUI -->
    <arg name="run_gui" default="true"/>

    <!-- Path of robot description -->
    <arg name="description_file" default="$(find robot_control_assets)/assets/arms/panda/panda.urdf.xacro"/>

    <!-- Load robot description for gazebo -->
    <param name="robot_description"
           command="$(find xacro)/xacro.py $(arg description_file) mesh_prefix:=package://robot_control_assets/"/>
    <param name="gazebo_ros_control" type="yaml" textfile="$(find robot_control_ros)/config/gazebo_ros_control.yml"/>

    <!-- Load Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <env name="GAZEBO_MODEL_PATH" value="$(arg model_path)"/>
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg run_gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <!-- Spawn robot in Gazebo -->
    <arg name="inital_config"
         default="-J panda_joint1 0.0 -J panda_joint2 -0.473 -J panda_joint3 0.10720 -J panda_joint4 -1.937 -J panda_joint5 -0.1610 -J panda_joint6 1.48333 -J panda_joint7 0.75098"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-param /robot_description -urdf $(arg inital_config) -model panda"
          output="screen"/>

</launch>
