[submodule "mppi_tools/submodules/imgui"]
	path = mppi_tools/submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "mppi_tools/submodules/implot"]
	path = mppi_tools/submodules/implot
	url = https://github.com/epezent/implot.git
[submodule "submodules/pybind11"]
	path = submodules/pybind11
	url = git@github.com:pybind/pybind11.git
