absl-py==0.12.0
actionlib==1.13.2
angles==1.9.13
astroid==2.5.6
backcall==0.2.0
bondpy==1.8.6
cachetools==4.2.2
camera-calibration==1.15.3
camera-calibration-parsers==1.12.0
catkin==0.8.10
catkin-pkg==0.4.23
certifi==2020.12.5
chardet==4.0.0
controller-manager==0.19.4
controller-manager-msgs==0.19.4
cv-bridge==1.15.0
cycler==0.10.0
decorator==5.0.9
defusedxml==0.7.1
diagnostic-analysis==1.10.4
diagnostic-common-diagnostics==1.10.4
diagnostic-updater==1.10.4
distro==1.5.0
docutils==0.17
dynamic-reconfigure==1.7.1
freetype-py==2.2.0
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
google-auth==1.30.0
google-auth-oauthlib==0.4.4
grpcio==1.37.1
h5py==3.2.1
idna==2.10
image-geometry==1.15.0
interactive-markers==1.12.0
isort==5.8.0
jedi==0.18.0
joblib==1.0.1
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
kiwisolver==1.3.1
laser-geometry==1.6.7
lazy-object-proxy==1.6.0
line-profiler==3.3.0
Markdown==3.3.4
matplotlib==3.4.1
matplotlib-inline==0.1.2
mccabe==0.6.1
message-filters==1.15.11
netifaces==0.10.9
numpy==1.20.2
oauthlib==3.1.0
pandas==1.2.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
protobuf==3.16.0
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.9.0
pylint==2.8.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytorch-msssim==0.2.1
pytz==2021.1
PyYAML==5.4.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
requests==2.25.1
requests-oauthlib==1.3.0
resource-retriever==1.12.6
rosbag==1.15.11
rosboost-cfg==1.15.7
rosclean==1.15.7
roscreate==1.15.7
rosgraph==1.15.11
roslaunch==1.15.11
roslib==1.15.7
roslint==0.12.0
roslz4==1.15.11
rosmake==1.15.7
rosmaster==1.15.11
rosmsg==1.15.11
rosnode==1.15.11
rosparam==1.15.11
rospkg==1.3.0
rospy==1.15.11
rosservice==1.15.11
rostest==1.15.11
rostopic==1.15.11
rosunit==1.15.7
roswtf==1.15.11
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.11
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-multiplot==0.0.12
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.2
rqt-py-console==0.4.10
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.6.1
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.2
rqt-top==0.4.10
rqt-topic==0.4.12
rqt-web==0.4.10
rsa==4.7.2
rviz==1.14.7
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
sensor-msgs==1.13.1
Shapely==1.7.1
six==1.15.0
sklearn==0.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
threadpoolctl==2.1.0
toml==0.10.2
topic-tools==1.15.11
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
tqdm==4.61.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
xacro==1.14.6
