<launch>
    <arg name="mobile" default="false"/>
    <arg name="description_file" default="$(find mppi_manipulation)/data/panda_mobile.urdf.xacro" if="$(arg mobile)"/>
    <arg name="description_file" default="$(find mppi_manipulation)/data/panda_standalone.urdf.xacro" unless="$(arg mobile)"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg description_file) resources_prefix:='file://'
      collision_links:=false
      collision_hand:=true
      add_finger:=true"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find mppi_manipulation)/config/debug_urdf.rviz"/>
</launch>
