<?xml version="1.0"?>
<launch>
    <arg name="fixed_base" default="false"/>

    <include file="$(find mppi_royalpanda)/launch/robot/observer.launch">
        <arg name="simulation" value="true"/>
        <arg name="fixed_base" value="false"/>
    </include>

    <include file="$(find mppi_royalpanda)/launch/robot/controller.launch">
        <arg name="simulation" value="true"/>
        <arg name="fixed_base" value="false"/>
    </include>

    <include file="$(find mppi_manipulation)/launch/common.launch">
        <arg name="plot_cost" default="false"/>
        <arg name="plot_input" default="false"/>
        <arg name="enable_obstacle" default="false"/>
    </include>

    <node name="controller_manager_gui" type="rqt_controller_manager" pkg="rqt_controller_manager" output="screen"/>
</launch>
