<?xml version="1.0" ?>
<launch>
    <arg name="robot_ip" default="$(env FRANKA_IP)"/>
    <arg name="object" default="shelf"/>
    <arg name="experiment_name" default="panda_manipulation"/>
    <arg name="run_camera" default="true"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg run_camera)"/>

    <include file="$(find mppi_sliding)/launch/load.launch">
        <arg name="debug" value="false"/>
        <arg name="object" value="$(arg object)"/>
        <arg name="load_simulation_object" value="false"/>
        <arg name="description_file" value="$(find mppi_sliding)/data/panda.urdf.xacro"/>
    </include>

    <include file="$(find franka_gripper)/launch/franka_gripper.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <node name="franka_control" pkg="franka_control" type="franka_control_node" output="screen" required="true">
        <rosparam command="load" file="$(find mppi_sliding)/config/experiments/franka_control_node.yaml" />
        <param name="robot_ip" value="$(arg robot_ip)" />
    </node>

    <!-- controller manager-->
    <rosparam command="load" file="$(find franka_control)/config/default_controllers.yaml" />
    <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="franka_state_controller"/>


    <!-- controller manager-->
    <param name="/config_file" value="$(find mppi_sliding)/params/controller_panda.yaml"/>
    <rosparam command="load" file="$(find mppi_sliding)/config/experiments/controllers_mug.yaml" subst_value="true"/>


</launch>
