<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="debug" default="false"/>
    <arg name="launch_prefix" value="" unless="$(arg debug)"/>
    <arg name="launch_prefix" value="gdb -ex run --args" if="$(arg debug)"/>

    <!-- mug -->
    <param name="mug_description"
           textfile="$(find object_modeling_playground)/data/objects/mug.urdf"/>
           
    <node name="mug_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <remap from="robot_description" to="mug_description"/>
        <remap from="joint_states" to="/mug/joint_states"/>
    </node>
    <!--     .....................    -->

    <node name="object_model_node" type="object_modeling_playground" pkg="object_modeling_playground" output="screen">
        <rosparam command="load" file="$(find object_modeling_playground)/params/mug.yaml"/>
    </node>

    <!-- interative keypoints controller-->
    <node name="interactive_reference" pkg="object_modeling_playground" type="interactive_marker.py" output="screen">
        <rosparam command="load" file="$(find object_modeling_playground)/params/mug.yaml"/>
        <param name="marker_server_name" value="reference_marker_server"/>
        <param name="subscribe_initial_pose" value="true"/>
        <param name="initial_pose_topic" value="/end_effector"/>
        <param name="frame_id" value="mug_frame"/>
        <param name="target_pose_topic" value="/end_effector_pose_desired"/>
    </node>

    <!-- Open Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find object_modeling_playground)/config/rviz/config.rviz" output="screen" launch-prefix="xterm -e"/>

</launch>