<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- Experiment settings -->
	<arg name="experiment_name" default="mppi_manipulation"/>

	<!-- Launch state observer -->
	<include file="$(find mppi_manipulation_royalpanda)/launch/observer.launch">
	</include>

	<!-- Launch robot state controller -->
	<include file="$(find mppi_manipulation_royalpanda)/launch/robot.launch">
		<arg name="object"  value="new_shelf"/>
		<arg name="experiment_name" value="$(arg experiment_name)"/>
	</include>

</launch>
