<?xml version="1.0" ?>
<launch>
    <arg name="robot_ip" default="$(env FRANKA_IP)"/>
    <arg name="object" default="shelf"/>
    <arg name="debug" default="false"/>
    <arg name="object_reference_position" default="1.57" if="$(eval arg('object') == 'door')"/>
    <arg name="object_reference_position" default="1.57" if="$(eval arg('object') == 'microwave')"/>
    <arg name="object_reference_position" default="3.14" if="$(eval arg('object') == 'valve')"/>
    <arg name="object_reference_position" default="0.50" if="$(eval arg('object') == 'drawer')"/>
    <arg name="object_reference_position" default="1.57" if="$(eval arg('object') == 'shelf')"/>

    <include file="$(find mppi_manipulation)/launch/load.launch">
        <arg name="debug" value="false"/>
        <arg name="object" value="$(arg object)"/>
    </include>

    <include file="$(find franka_gripper)/launch/franka_gripper.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="load_simulation_object" value="false"/>
        <arg name="wrench_sensor" value="true"/>
    </include>

    <node name="franka_control" pkg="franka_control" type="franka_control_node" output="screen" required="true">
        <rosparam command="load" file="$(find mppi_manipulation_royalpanda)/config/franka_control_node.yaml" />
        <param name="robot_ip" value="$(arg robot_ip)" />
    </node>

    <rosparam command="load" file="$(find franka_control)/config/default_controllers.yaml" />
    <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="franka_state_controller"/>

    <group if="$(arg debug)">
        <node name="joint_state_aggregator" type="joint_state_aggregator" pkg="mppi_manipulation_royalpanda" output="screen">
            <param name="arm_state_topic" value="/franka_state_controller/joint_states"/>
            <param name="finger_state_topic" value="/franka_gripper/joint_states"/>
            <param name="output_topic" value="/panda/joint_states"/>
            <param name="exact_sync" value="false"/>
        </node>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <param name="publish_frequency" value="100"/>
            <param name="use_tf_static" value="true"/>
            <param name="tf_prefix" value=""/>
            <remap from="robot_description" to="robot_description"/>
            <remap from="joint_states" to="/observer/joint_states"/>
        </node>
    </group>
</launch>