<?xml version="1.0"?>
<launch>
    <arg name="debug" default="false"/>
    <arg name="launch_prefix" value="" unless="$(arg debug)"/>
    <arg name="launch_prefix" value="gdb -ex run --args" if="$(arg debug)"/>

    <arg name="object" default="shelf"/>
    <arg name="plot" default="false"/>
    <arg name="enable_obstacle" default="false"/>

    <arg name="experiment" default="false"/>
    <arg name="experiment_name" default="mppi_manipulation"/>

    <arg name="object_reference_position" default="1.57" if="$(eval arg('object') == 'door')"/>
    <arg name="object_reference_position" default="1.57" if="$(eval arg('object') == 'microwave')"/>
    <arg name="object_reference_position" default="3.14" if="$(eval arg('object') == 'valve')"/>
    <arg name="object_reference_position" default="0.50" if="$(eval arg('object') == 'drawer')"/>
    <arg name="object_reference_position" default="1.57" if="$(eval arg('object') == 'shelf')"/>

    <include file="$(find mppi_manipulation)/launch/load.launch">
        <arg name="debug" value="false"/>
        <arg name="object" value="$(arg object)"/>
    </include>

    <param name="/config_file" value="$(find mppi_manipulation)/params/controller.yaml"/>

    <node name="simulation_node" type="simulation_node" pkg="mppi_manipulation_royalpanda" output="screen"
          launch-prefix="$(arg launch_prefix)">
        <param name="slow_down" value="100"/>
        <param name="object_reference_position" value="$(arg object_reference_position)"/>
        <param name="activation_file" value="/home/giuseppe/raisim_ws/raisimLib/build/examples/rsc/activation.raisim"/>
        <param name="references_file" value="$(find mppi_manipulation)/config/experiments/references.yaml"/>
        <rosparam command="load" file="$(find mppi_manipulation_royalpanda)/config/simulation.yaml"/>
    </node>

    <include file="$(find mppi_manipulation)/launch/common.launch">
        <arg name="plot" value="$(arg plot)"/>
        <arg name="enable_obstacle" value="$(arg enable_obstacle)"/>
    </include>

    <rosparam command="load" file="$(find mppi_manipulation_royalpanda)/config/controllers.yaml"/>
<!--    <node name="controller_manager_gui" type="rqt_controller_manager" pkg="rqt_controller_manager" output="screen"/>-->

    <include file="$(find mppi_manipulation_royalpanda)/launch/observer.launch"/>
</launch>
