<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!--  Run the test node-->
    <node name="filter_test" type="filter_test" pkg="mppi_ros" output="screen">
        <param name="window_size" value="10"/>
        <param name="filter_order" value="3"/>
        <param name="bag_name" value="/home/giuseppe/u_mppi.bag"/>
    </node>

    <arg name="mp_config_input" default="$(find mppi_ros)/config/rqt_multiplot.xml"/>
    <node name="rqt_multiplot_input" pkg="rqt_multiplot" type="rqt_multiplot"
          args="--multiplot-config $(arg mp_config_input)"
          output="screen"/>

</launch>