<?xml version="1.0" encoding="utf-8"?>
<robot name="panda" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="custom_fingers">
    <link name="panda_leftfinger">
        <inertial>
            <mass value="0.01"/>
            <origin rpy="0 0 0" xyz="0 0.0145644 0.0227941"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0"
                     izz="0.001"/>
        </inertial>
<!--         <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="${resources_prefix}${resources_directory}/resources/panda/meshes/visual/finger.dae"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        
        <visual>
            <origin rpy="0.0 0 0.0" xyz="0 0.022 0.039"/>
            <geometry>
                <box size="0.021 0.009 0.070"/>
            </geometry>
        </visual>

        <visual>
            <origin rpy="0.0 0 0.0" xyz="0 0.014 0.0665"/>
            <geometry>
                <box size="0.021 0.025 0.015"/>
            </geometry>
        </visual>

        <collision>
            <origin rpy="0.0 0 0.0" xyz="0 0.022 0.039"/>
            <geometry>
                <box size="0.021 0.009 0.070"/>
            </geometry>
            <material name="">
              <contact name="steel"/>
            </material>
        </collision>

        <collision>
            <origin rpy="0.0 0 0.0" xyz="0 0.014 0.0665"/>
            <geometry>
                <box size="0.021 0.025 0.015"/>
            </geometry>
            <material name="">
              <contact name="steel"/> 
            </material>
        </collision>    -->  
    </link>

    <link name="panda_rightfinger">
        <inertial>
            <mass value="0.01"/>
            <origin rpy="0 0 0" xyz="0 0.0145644 0.0227941"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0"
                     izz="0.001"/>
        </inertial>
        <!--<visual> 
            <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
            <geometry>
                <mesh filename="${resources_prefix}${resources_directory}/resources/panda/meshes/visual/finger.dae"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual> -->

        <visual>
            <origin rpy="0.0 0 0.0" xyz="0 -0.022 0.039"/>
            <geometry>
                <box size="0.021 0.009 0.070"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>

        <visual>
            <origin rpy="0.0 0 0.0" xyz="0 -0.014 0.0665"/>
            <geometry>
                <box size="0.021 0.025 0.015"/>
            </geometry>
        </visual>

        <collision>
            <origin rpy="0.0 0 0.0" xyz="0 -0.022 0.039"/>
            <geometry>
                <box size="0.021 0.009 0.070"/>
            </geometry>
            <material name="">
              <contact name="steel"/>  <!-- for raisim -->
            </material>        
        </collision>

        <collision>
            <origin rpy="0.0 0 0.0" xyz="0 -0.014 0.0665"/>
            <geometry>
                <box size="0.021 0.025 0.015"/>
            </geometry>
            <material name="">
              <contact name="steel"/>  <!-- for raisim -->
            </material>
        </collision>
    </link>
</xacro:macro>
</robot>